<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>user deatils</h1>
    <table>
        <tr>
            <th>firstname</th>
            <th>lastname</th>
            <th>emailid</th>
        </tr>
        <tr>
        {% for re in res %}
        <td>{{ re.first_name }}</td>
        <td>{{ re.last_name }}</td>
        <td>{{ re.email }}</td>
    </tr>
        {% endfor %}
    </table>
    
</body>
</html>